
@import url("content.css");
@import url("blocks.css");


* {
	margin: 0;
	padding: 0;
}
/* --------- Layout --------- */
html {
	color: #C98235;
	background: url("../img/body.gif")  fixed;	
}

body {
	font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
	font-size: 12px;   
	line-height: normal;
	width:900px;
	margin: 0 auto;
	background: url("../img/body.gif")  fixed;	
	
}

}
#xo-page {
	padding-top: 8px;   background: transparent;
    padding-bottom: 8px;
    
	
}


/* --------- Content module page --------- */
#xo-content {
  padding : 4px;
  text-align : justify;
  color:#C98235;
   margin:4px;
   background: url("../img/content.png")  repeat-y;
  
}




/* --------- Header --------- */
#xo-header {
	
	height: 226px;
	background: url("../img/header.jpg") no-repeat;
}

#banner {
	float:right;
	padding-right:60px;
	padding-top: 12px;
	width:468px;
	height:60px;
}


/* --- Logo --- */
#xo-header img.logo {
	float:	left; 
	padding: 9px 33px 0 0;
	padding-left:40px;
	padding-top:90px;
} 




#menu{
padding:14px 0 0 240px;
float:left;


}
#menu li{
list-style-type:none;
display:inline;

}
#menu a{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#8B0000;
text-transform:uppercase;
text-decoration:none;
margin:0 11px;
padding:0 0 2px 0;
display:block;
float:left;
border-bottom:2px solid #A1621B;


}
#menu a:visited{
color:#9DA2B8;
border:0px;
}
#menu #active, #menu a:hover{
color:#A2621C;
border-bottom:2px solid #8B3E2F;
}




#mainmenu {	font-size: 1.1em; color: #A2621C;}
#mainmenu a {
  display: block;
  margin: 0;
  padding: 4px 4px 4px 18px;
  font-weight:bold;
  
}
#mainmenu a:hover {color:#8B0000;}
#mainmenu a.menuTop {}
#mainmenu a.menuMain {}
#mainmenu a.menuSub {
  padding-left: 25px;
  background: none;
  border: none;
font-style: italic;
  color:#333;
  font-size: .9em;
}
#mainmenu a.menuSub:hover {  color:#8B0000;}

/* block user menu */
#usermenu {	font-size: 1em; }
#usermenu a {
  display: block;
  margin: 0;
  padding: 4px 4px 4px 18px;
  
}
#usermenu a:hover { color:#8B0000;}
#usermenu a.menuTop {}



/* --------- Footer --------- */
#xo-footer {  
	
	background-color: transparent;
	background: url("../img/footer.jpg") no-repeat center bottom;
	
	height:162px;
	margin:0 auto;
	
	
	
}


.xo-foottext{
	color: #fff;
	vertical-align: middle;
	text-align: center;	
	padding-top:118px;
}
.xo-foottext a{
	color: #fff;
	text-decoration: none;
	font-size: 1.2em;
}
.xo-foottext a:hover{
	color: #FFFF00;
	text-decoration: underline;
}






/*======= Tinymce background textarea ========*/
body.mceContentBody {
    margin:                 0;
    padding:                0;
    background-color:       #fff;
    background-image:       none;
    color:                  #000;
}








